@import "variables";
@import "mixins";

:host {
  .order-additional {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0 0 30px 0;

    .order-address-table, .order-transport-and-payment-table {
      width: 100%;
      border: 1px solid var(--c-grey-4);

      tbody {
        tr {
          td{
            font-size: 0.9rem;
            color: var(--c-grey);
            padding: 5px;
            background: var(--c-white);

            &:first-of-type {
              font-weight: 600;
              text-align: right;
            }

            &:last-of-type {
              text-align: left;
            }
          }

          &:nth-child(even) {
            td {
              background: var(--c-grey-1);
            }
          }
        }
      }
    }
  }

  .order-total-cost {
    margin: 0 0 20px 0;
    text-align: right;

    .label, .value {
      display: inline-block;
      font-size: 1rem;
      color: var(--c-grey);
    }

    .value {
      font-weight: 600;
      color: var(--c-primary-1);
      padding: 0 0 0 10px;
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: flex-end;

    .button {
      @include button-large;
    }
  }
}

:host-context(.touch-disabled) {
  .button-wrapper {
    .button {
      @include button-transition;
    }
  }
}


@media (max-width: $breakpoint-sm) {
  :host {
    .order-additional {
      grid-template-columns: 1fr;
    }
  }
}
