<shared-dropdown *ngIf="mobileVersion"
                 [labelText]="'Themes'"
                 [items]="dropdownThemeItems"
                 [standardListOnMobile]="true"
                 (itemClick)="toggleTheme($event)">
</shared-dropdown>

<shared-dropdown *ngIf="!mobileVersion"
                 [labelIcon]="['fas', 'palette']"
                 [items]="dropdownThemeItems"
                 (itemClick)="toggleTheme($event)">
</shared-dropdown>
