@import "variables";
@import "mixins";

:host {
  .new-review {
    display: block;
    width: 100%;
    background: var(--c-grey-1);
    margin: 0 0 10px;
    padding: 10px;
    border: 1px solid var(--c-grey-4);

    .new-review-message {
      font-size: 0.9rem;
    }

    .form-group {
      display: flex;
      width: 100%;
      flex-flow: row;
      margin: 0 0 10px;

      .form-label {
        display: flex;
        font-size: 1rem;
        min-width: 150px;
        text-align: right;
        padding: 0 10px 0 0;
        margin: 0;
        align-items: center;
        justify-content: flex-end;
      }

      .form-control {
        display: block;
        width: 100%;
        outline: none;
        border: 1px solid var(--c-grey-4);
        transition: border-color .3s ease;
        padding: 5px 10px;

        &.ng-invalid.ng-touched {
          border-color: var(--c-red);
        }
      }

      textarea {
        resize: none;
        min-height: 100px;
      }

      ngb-rating {
        font-size: 1.3rem;
        color: var(--c-yellow);
        outline: none;
      }
    }

    .submit-button {
      @include button-filled;
      display: flex;
      margin: 0 0 0 auto;
    }
  }

  .reviews {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

    .review {
      list-style: none;
      padding: 10px 0;
      width: 100%;

      .review-rating {
        ngb-rating {
          font-size: 1.2rem;
          color: var(--c-yellow);
          outline: none;
        }
      }

      .review-info {
        font-size: 0.8rem;
        color: var(--c-grey);
      }

      .review-content {
        font-size: 0.9rem;
        color: var(--c-black);
        word-wrap: break-word;
        max-width: 100%;
      }
    }
  }

  .no-reviews-message, .status-message {
    display: block;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    padding: 10px 0;
    margin: 0;

    p {
      margin: 0;
    }
  }
}

:host-context(.touch-disabled) {
  .new-review {
    .submit-button {
      @include button-filled-transition;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  :host {
    .new-review {
      .new-review-message {
        font-size: 1rem;
      }

      .form-group {
        flex-flow: column;

        .form-label {
          font-size: 0.9rem;
          justify-content: flex-start;
          margin: 0 0 5px 0;
        }

        ngb-rating {
          font-size: 1.6rem;
        }
      }
    }
  }
}
