<div class="new-review" *ngIf="product">
  <form #reviewForm="ngForm" (ngSubmit)="addReview()" *ngIf="status == formStatus.Initial">
    <p class="new-review-message">Add your review</p>

    <div class="form-group">
      <label for="rating" class="form-label">Rating</label>
      <ngb-rating id="rating" [(rate)]="review.rating" max="5"></ngb-rating>
    </div>

    <div class="form-group">
      <label for="authorName" class="form-label">Author name</label>
      <input type="text" class="form-control" id="authorName" name="authorName" [(ngModel)]="review.authorName" required>
    </div>

    <div class="form-group">
      <label for="content" class="form-label">Content</label>
      <textarea type="text" class="form-control" id="content" name="content" [(ngModel)]="review.content" required></textarea>
    </div>

    <button type="submit" class="submit-button" [disabled]="!reviewForm.form.valid">Add review</button>
  </form>

  <div class="status-message" *ngIf="status != formStatus.Initial">
    <p *ngIf="status == formStatus.Sending">Your review is processing...</p>
    <p *ngIf="status == formStatus.Success">Thank you for your review. We will display it soon, after verification.</p>
    <p *ngIf="status == formStatus.Fail">Holy shit, something went wrong. Please contact with the administrator.</p>
  </div>
</div>

<ul class="reviews" *ngIf="product.reviews.length">
  <li *ngFor="let review of product.reviews" class="review">
    <div class="review-rating">
      <ngb-rating [(rate)]="review.rating" [readonly]="true" max="5"></ngb-rating>
    </div>
    <div class="review-info">
      <span class="review-author">
        {{review.authorName}}
      </span>

      <span class="review-date">
        {{review.date.toLocaleString()}}
      </span>
    </div>

    <div class="review-content">
      {{review.content}}
    </div>
  </li>
</ul>

<p class="no-reviews-message" *ngIf="!product.reviews.length && status == formStatus.Initial">
  There are no reviews, yet. Feel free to add one!
</p>
