@import "variables";

:host {
  .app-header {
    display: flex;
    width: 100%;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--c-grey-3);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: var(--header-height-lg);

    .app-menu {
      display: flex;
      flex: 1;
      align-items: center;

      .app-name {
        font-size: 1.5rem;
        display: inline-block;
        padding: 0 10px 0 0;
        color: var(--c-grey);
        margin: 0;
        text-decoration: none;
      }

      .sidenav-btn {
        display: none;
        width: 28px;
        height: 28px;
        background: var(--c-white);
        border: 1px solid var(--c-grey);
        border-radius: 50%;
        color: var(--c-grey);
        font-size: 0.8rem;
        padding: 0;
        margin: 0 10px 0 0;
        outline: none;
        align-items: center;
        justify-content: center;
      }

      app-navigation {
        display: block;
      }
    }

    product-search {
      display: flex;
      flex: 1;
      justify-content: center;
      width: 100%;
    }

    .actions {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      checkout-info, client-manager {
        margin: 0 0 0 10px;
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  :host {
    .app-header {
      height: var(--header-height-sm);
      padding: 6px 10px;

      .app-menu {
        order: 1;

        .sidenav-btn {
          display: inline-flex;
        }

        .app-name {
          font-size: 1.25rem;
        }

        app-navigation {
          display: none;
        }
      }

      product-search {
        order: 2;
        flex: 1 1 40%;
      }

      .actions {
        order: 3;

        client-manager {
          display: none;
        }

        app-theme-manager {
          display: none;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-xs) {
  :host {
    .app-header {
      height: var(--header-height-xs);

      product-search {
        order: 3;
        flex: 1 1 100%;
      }

      .actions {
        order: 2;
      }
    }
  }
}

