<header class="app-header">
  <div class="app-menu">
    <button (click)="onSidenavButtonClick()" class="sidenav-btn">
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </button>

    <a routerLink="/" class="app-name" title="Home">{{appName}}</a>

    <app-navigation></app-navigation>
  </div>

  <product-search></product-search>

  <div class="actions">
    <app-theme-manager></app-theme-manager>

    <client-manager></client-manager>

    <checkout-info></checkout-info>
  </div>
</header>
