<shared-title text="Filters" [ordinaryTag]="true" [smallerText]="true"></shared-title>

<ul class="attribute-list" *ngIf="category && initialized && attributes.length">
  <li *ngFor="let data of attributes" class="attribute">
    <span class="attribute-name">{{data.attribute.name}}</span>

    <ul class="attribute-option-list">
      <li *ngFor="let optionData of data.options" class="attribute-option">
        <input type="checkbox"
               [id]="'filter' + data.attribute.id + '-' + optionData.option.id"
               [checked]="optionData.checked"
               (click)="onCheckboxClick(data.attribute, optionData.option)">
        <label [for]="'filter' + data.attribute.id + '-' + optionData.option.id"
               (click)="onCheckboxClick(data.attribute, optionData.option)">
          <span class="label-text">{{optionData.option.name}}</span>
        </label>
      </li>
    </ul>
  </li>
</ul>

<p class="message" *ngIf="initialized && !attributes.length">
  Sorry, no filters found.
</p>

<mat-progress-spinner
  class="loader"
  *ngIf="!initialized"
  [strokeWidth]="2"
  [mode]="'indeterminate'">
</mat-progress-spinner>
