@import "variables";
@import 'mixins';

:host {
  .attribute-list {
    padding: 0;
    margin: 0;

    .attribute {
      list-style: none;
      margin: 0 0 10px 0;

      .attribute-name {
        display: block;
        color: var(--c-grey);
        font-size: 1rem;
        border-bottom: 1px solid var(--c-grey-4);
        margin: 0 0 5px 0;
        padding: 5px 0;

      }

      .attribute-option-list {
        margin: 0;
        padding: 0;

        .attribute-option {
          list-style: none;

          input[type="checkbox"] {
            @include custom-checkbox-input;
          }
        }
      }
    }
  }

  .message {
    margin: 0 0 10px 0;
    text-align: center;
  }
}

@media (max-width: $breakpoint-sm) {
  :host {
    shared-title {
      padding-top: 0;
    }
  }
}
