<nav class="app-navigation" *ngIf="categoryCollection && categoryCollection.length">
  <ul class="items">
    <li class="item item-with-dropdown">
      <shared-dropdown [labelText]="'Categories'"
                       [placement]="'bottom-left'"
                       [standardListOnMobile]="true"
                       [items]="dropdownItems"
                       (itemClick)="onLinkClick()">
      </shared-dropdown>
    </li>
  </ul>
</nav>
