<ul *ngIf="items" class="item-list">
  <li class="item" *ngFor="let item of items">
    <a *ngIf="item.url" [routerLink]="item.url" class="item-link">{{item.text}}</a>
    <span *ngIf="!item.url" class="item-text">{{item.text}}</span>
  </li>
</ul>
