@import "variables";

:host {
  display: block;

  .container {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width: 100%;

    .aside-wrapper {
      display: block;
      flex: 1 1 30%;
      margin: 0 20px 0 0;
    }

    .product-list-wrapper {
      display: block;
      width: 100%;

      .product-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr [col]);
        grid-gap: 20px;
        padding: 0;
      }

      .filter-list-button {
        position: fixed;
        bottom: 45px;
        right: 20px;
        background: var(--c-white);
        color: var(--c-grey);
        border: 1px solid var(--c-grey);
        cursor: pointer;
        outline: none;
        font-size: 0.9rem;
        padding: 0;
        line-height: 1;
        text-align: center;
        display: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
        transition: background .3s ease;

        .products-quantity {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          max-width: 0;
          max-height: 0;
          width: 100%;
          height: 100%;
          background: var(--c-primary);
          color: var(--c-white);
          border-radius: 50%;
          text-align: center;
          line-height: 18px;
          font-size: 0.6rem;
          overflow: hidden;
          transition: max-width .2s ease, max-height .2s ease, background .3s ease;
        }

        &.clicked {
          background: var(--c-grey-3);

          .products-quantity {
            max-width: 18px;
            max-height: 18px;
          }
        }
      }

      .no-category-message {
        display: block;
        text-align: center;
      }
    }
  }
}

@media (max-width: $breakpoint-lg) {
  :host {
    .container {
      .aside-wrapper {
        flex: 1 1 40%;
      }

      .product-list-wrapper {
        .product-list {
          grid-template-columns: repeat(3, 1fr [col]);
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  :host {
    .container {
      flex-flow: column;

      .aside-wrapper {
        display: block;
        flex: 1 1 100%;
        margin: 0;

        product-category-navigation {
          display: none;
        }

        product-list-filter-manager {
          display: block;
          max-height: 0;
          overflow: hidden;
          transition: max-height .4s ease-in-out, margin .5s ease-in-out, border-color .7s ease-in-out;
          background: var(--c-white);
          width: 100%;
          margin: 0;
          border-bottom: 1px solid var(--c-white);

          &.expanded {
            margin: 0 0 20px 0;
            max-height: 100vh;
            border-color: var(--c-grey-4);
          }
        }
      }

      .product-list-wrapper {
        .product-list {
          grid-template-columns: repeat(2, 1fr [col]);
        }

        .filter-list-button {
          display: block;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  :host {
    .container {
      .product-list-wrapper {
        .product-list {
          grid-template-columns: 1fr [col];
        }
      }
    }
  }
}
