<product-photo [product]="product"></product-photo>

<p class="product-name">{{product.name}}</p>

<span class="product-price">{{product.price | currency}}</span>

<div class="buttons-block">
  <a [routerLink]="['/product-detail', product.id]" href="#" class="details-button button" title="Go to details">
    <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
  </a>

  <product-buy-button [product]="product"></product-buy-button>
</div>
