@import "variables";
@import "mixins";

:host {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  background: var(--c-white);
  box-shadow: 0 2px 4px 0 rgba(60, 60, 60, 0.3);
  border: 1px solid var(--c-grey-2);
  border-bottom: 3px solid var(--c-white);
  min-height: 100px;
  list-style: none;
  padding: 10px;
  justify-content: center;
  align-items: center;
  min-width: 0;

  product-photo {
    display: block;
    margin: 0 auto 10px;

    &::ng-deep img {
      max-height: 200px;
      margin: auto;
    }
  }

  .product-name {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    font-size: 1.125rem;
    line-height: 20px;
    max-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }

  .product-price {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 20px;
  }

  .buttons-block {
    display: block;
    text-align: center;
    margin: 0 0 7px 0;

    .button {
      @include button;
      margin: 0 5px;
    }
  }
}

:host-context(.touch-disabled) {
  transition: border-color .3s ease;

  .buttons-block {
    .button {
      @include button-transition;
    }
  }

  &:hover {
    border-bottom-color: var(--c-primary);
  }
}
