<div class="app">
  <app-header [appName]="appName" [sidenav]="sidenav" (sidenavToggle)="onSidenavToggle($event)"></app-header>

  <mat-sidenav-container class="app-content">
    <mat-sidenav #sidenav class="app-sidebar" [fixedInViewport]="true">
      <app-sidebar [sidenav]="sidenav" (sidenavToggle)="onSidenavToggle($event)"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="content-wrapper">
      <main class="inner-content-wrapper">
        <router-outlet></router-outlet>
      </main>

      <app-footer [appVersion]="appVersion"></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
