@import "variables";
@import "mixins";

:host {
  .section {
    .section-title {
      .step-state {
        order: 1;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--c-grey-5);
        margin: 0 5px 0 0;
        transition: background .4s ease-in-out;

        &.success {
          background: var(--c-green);
        }

        &.fail {
          background: var(--c-red-1);
        }
      }

      &::ng-deep .title {
        order: 2;
      }

      .icon {
        order: 3;
      }
    }

    .section-content {
      display: block;
      max-height: 0;
      transition: max-height .4s ease-out;
      overflow: hidden;
    }

    &.section-always-open {
      .section-title {
        .icon {
          display: none;
        }
      }
    }

    &:not(.section-always-open) {
      .section-title {
        cursor: pointer;

        .icon {
          margin: 0 0 0 auto;
          color: var(--c-grey-3);
          font-size: 2rem;
          transition: transform .4s ease .4s;
        }
      }
    }

    &.section-open {
      .section-title {
        .icon {
          transform: rotate(180deg);
        }
      }

      .section-content {
        transition-delay: .4s;
        transition-timing-function: ease-in;
        max-height: 1000px;
      }
    }
  }
}
