<shared-breadcrumbs [items]="breadcrumbsItems"></shared-breadcrumbs>

<div  class="swiper-container main-slider" [swiper]="sliderConfig">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide">
      <p class="text">Angular Shop</p>
    </div>
    <div class="swiper-slide slide">
      <p class="text">Angular Shop</p>
    </div>
    <div class="swiper-slide slide">
      <p class="text">Angular Shop</p>
    </div>
  </div>

  <div class="swiper-button-prev button-prev">
    <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
  </div>

  <div class="swiper-button-next button-next">
    <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
  </div>
</div>
