:root, body {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.2;
  min-width: var(--container-min);
}

.touch-disabled {
  &::-webkit-scrollbar, *::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar, *::-webkit-scrollbar-track {
    background: var(--c-white)
  }

  &::-webkit-scrollbar, *::-webkit-scrollbar-thumb {
    background: var(--c-grey-4)
  }
}

.scroll-disabled {
  overflow: hidden;
}

*::selection {
  background: var(--c-grey-4);
  color: var(--c-black);
}

*::-moz-focus-inner {
  border: 0;
}

input[type="text"], input[type="number"], textarea {
  box-shadow: none;
}

.loader {
  width: 75px !important;
  height: 75px !important;
  display: block;
  margin: 10px auto;

  svg {
    width: 75px !important;
    height: 75px !important;

    circle {
      stroke: var(--c-grey);
    }
  }
}

fa-icon {
  display: inline-flex;
}
