<div class="checkout-page">
  <shared-breadcrumbs [items]="breadcrumbsItems"></shared-breadcrumbs>

  <checkout-section
    [step]="CheckoutStep.OrderItemListStep"
    [sectionTitle]="'Order item list'"
    [order]="order"
    [alwaysOpen]="true">
  </checkout-section>

  <checkout-section
    *ngIf="hasOrderItems()"
    [step]="CheckoutStep.AddressStep"
    [sectionTitle]="'Address'"
    [order]="order">
  </checkout-section>

  <checkout-section
    *ngIf="hasOrderItems()"
    [step]="CheckoutStep.PaymentStep"
    [sectionTitle]="'Payment'"
    [order]="order">
  </checkout-section>

  <checkout-section
    *ngIf="hasOrderItems()"
    [step]="CheckoutStep.TransportStep"
    [sectionTitle]="'Transport'"
    [order]="order">
  </checkout-section>

  <div class="button-wrapper" *ngIf="hasOrderItems()">
    <button
      class="button"
      type="button"
      (click)="goToSummary()"
      [disabled]="shouldSummaryButtonBeDisabled()">Go to summary</button>
  </div>
</div>
