<form #transportForm="ngForm" class="transport-form" *ngIf="order">
  <div class="form-group" *ngFor="let transport of transportCollection">
    <input
      type="radio"
      class="form-control"
      name="transport"
      [id]="'transport-' + transport.id"
      [value]="transport"
      (change)="order.transport = transport"
      [checked]="order.transport ? order.transport.id == transport.id : false">
    <label [for]="'transport-' + transport.id" class="form-label">
      <span class="label-text">
         {{transport.name}}

        <span class="label-text-special">
          {{transport.cost | currency}}
        </span>
      </span>
    </label>
  </div>

  <button type="submit" class="submit-button" [disabled]="!order.transport" (click)="onButtonClick()">Save</button>
</form>
