<section class="product-list" *ngIf="hasItems()">
  <product-on-list *ngFor="let product of productCollection" [product]="product"></product-on-list>
</section>

<p class="message" *ngIf="hasNoItems() && noResultsMessage">
  {{noResultsMessage}}
</p>
