@import "variables";
@import "mixins";

:host {
  display: flex;
  flex-flow: column;
  margin: 0 auto 10px;

  .empty-basket-message, .error-message {
    font-size: 0.9rem;
    color: var(--c-grey);
    text-align: center;
    margin: 0 0 10px 0;
  }

  .error-message {
    color: var(--c-red);
  }

  .order-item-list {
    display: table;
    width: 100%;
    margin: 0 0 10px 0;

    .labels {
      display: table-header-group;

      .label {
        display: table-cell;
        background: var(--c-grey-1);
        color: var(--c-grey);
        font-size: 0.9rem;
        padding: 5px 10px;
        border: 1px solid var(--c-grey-4);
        border-right: none;
        border-left: none;
        text-align: center;

        &:first-of-type {
          border-left: 1px solid var(--c-grey-4);
        }

        &:last-of-type {
          border-right: 1px solid var(--c-grey-4);
        }
      }
    }

    .content {
      display: table-row-group;
      padding: 0;
      margin: 0;

      .order-item {
        display: table-row;

        & > * {
          display: table-cell;
          vertical-align: middle;
          border-bottom: 1px solid var(--c-grey-4);
          padding: 5px;
        }

        product-photo {
          &::ng-deep img {
            display: block;
            max-width: 100%;
            max-height: 100px;
            margin: 0 auto;
          }
        }

        .order-item-name {
          font-size: 0.9rem;
          color: var(--c-grey);
          margin: 0;
          text-align: center;
        }

        .order-item-quantity {
          .input {
            display: block;
            margin: 0 auto;
            outline: none;
            color: var(--c-grey);
            border: 1px solid var(--c-grey-4);
            padding: 5px;
          }

          .quantity {
            display: block;
            text-align: center;
          }
        }

        .order-item-total-cost {
          text-align: center;
        }

        .order-item-delete-btn {
          .btn {
            display: flex;
            padding: 0;
            margin: 0 auto;
            background: none;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            font-size: 0.9rem;
            align-items: center;
            justify-content: center;
            color: var(--c-red);
            border: 2px solid var(--c-red);
            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }

  .button {
    @include button;
    align-self: center;
  }
}

:host-context(.touch-disabled) {
  .order-item-list {
    .content {
      .order-item {
        .order-item-delete-btn {
          .btn {
            transition: background .3s ease, color .3s ease;

            &:hover {
              background: var(--c-red);
              color: var(--c-white);
            }
          }
        }
      }
    }
  }

  .button {
    @include button-transition;
  }
}

@media (max-width: $breakpoint-sm) {
  :host {
    .order-item-list {
      display: block;

      .labels {
        display: none;
      }

      .content {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        width: 100%;

        .order-item {
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          position: relative;
          border-bottom: 1px solid var(--c-grey-4);
          padding: 10px 0;
          margin: 0 0 10px 0;

          & > * {
            display: flex;
            border: none;
            vertical-align: baseline;
            padding: 0;
          }

          product-photo, .order-item-name {
            width: 100%;
            flex: 4 0 100%;
          }

          product-photo {
            margin: 0 0 10px 0;
          }

          .order-item-name {
            justify-content: center;
            margin: 0 0 10px 0;
            font-size: 1.1rem;
          }

          .order-item-quantity, .order-item-total-cost {
            flex: 2 0 50%;
          }

          .order-item-quantity {
            .input {
              margin: 0 0 0 auto;
              width: 100%;
              text-align: center;
            }

            .quantity {
              margin: 0 5px 0 auto;

              &:after {
                content: '-';
                display: inline-block;
              }
            }
          }

          .order-item-total-cost {
            align-items: center;
            justify-content: center;
          }

          .order-item-delete-btn {
            position: absolute;
            top: 0;
            right: 0;
            background: var(--c-white);
            padding: 5px;

            .btn {
              width: 18px;
              height: 18px;
              font-size: 0.6rem;
            }
          }

          &.read-only-mode {
            .order-item-total-cost {
              justify-content: flex-start;
              font-weight: 600;
            }
          }

          &:last-of-type {
            margin: 0;
            border: none;
          }
        }
      }
    }
  }
}
