@import "variables";
@import "mixins";

:host {
  .payment-form {
    display: flex;
    flex-flow: column;

    .form-group {
      display: block;

      input[type="radio"] {
        @include custom-radio-input;
      }

      label {
        .label-text {
          .label-text-special {
            display: inline-block;
            color: var(--c-primary);
            padding: 0 0 0 5px;
            vertical-align: middle;

            &:before {
              display: inline-block;
              content: "-";
              color: var(--c-grey);
            }
          }
        }
      }
    }

    .submit-button {
      @include button;
      align-self: center;
    }
  }
}

:host-context(.touch-disabled) {
  .payment-form {
    .submit-button {
      @include button-transition;
    }
  }
}
