@import "variables";
@import "mixins";

:host {
  .client-address-text {
    display: block;
    margin: 0 0 15px 0;
    font-size: .9rem;
    color: var(--c-grey);

    .button {
      display: inline-block;
      background: none;
      color: var(--c-primary);
      border: none;
      outline: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
    }
  }

  .address-form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "name name name surname surname surname"
      "street street street city city building-number"
      "zip zip . . . ."
      "edit-message edit-message edit-message edit-message edit-message edit-message"
      ". . submit-button submit-button . .";

    .form-group {
      .form-label {
        display:block;
        width: 100%;
        font-size: 0.9rem;
        color: var(--c-grey);
        margin: 0 0 5px 0;
        padding: 0;
        text-align: left;
      }

      .form-control {
        display: block;
        width: 100%;
        margin: 0;
        padding: 5px;
        color: var(--c-grey);
        border: 1px solid var(--c-grey-4);
        outline: none;
        transition: border-color .3s ease;

        &.ng-invalid.ng-touched {
          border-color: var(--c-red);
        }
      }

      &.form-group-name {
        grid-area: name;
      }

      &.form-group-surname {
        grid-area: surname;
      }

      &.form-group-street {
        grid-area: street;
      }

      &.form-group-building-number {
        grid-area: building-number;
      }

      &.form-group-city {
        grid-area: city;
      }

      &.form-group-zip {
        grid-area: zip;
      }
    }

    .edit-message {
      grid-area: edit-message;
      font-size: 0.9rem;
      color: var(--c-grey);
      text-align: center;
      margin: 0;
      padding: 15px 0
    }

    .submit-button {
      grid-area: submit-button;
      display: flex;

      .button {
        @include button;
        margin: 0 auto 0 auto;
      }
    }
  }
}

:host-context(.touch-disabled) {
  .client-address-text {
    .button {
      transition: color .3s ease;

      &:hover {
        color: var(--c-primary-1);
      }

      &:active {
        color: var(--c-primary-2);
      }
    }
  }
  .address-form .submit-button {
    .button {
      @include button-transition;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  :host {
    .client-address-text {
      text-align: center;
    }

    .address-form {
      grid-template-areas:
        "name name name name name name"
        "surname surname surname surname surname surname"
        "street street street street street street"
        "city city city city building-number building-number"
        "zip zip zip zip zip zip"
        "edit-message edit-message edit-message edit-message edit-message edit-message"
        ". . submit-button submit-button . .";
    }
  }
}
