@import "variables";

:host {
  .app-sidebar-title {
    margin: 0 0 5px 0;
    padding: 5px 10px;
    border-bottom: 2px solid var(--c-grey-7);

    .sidenav-btn {
      display: inline-flex;
      width: 28px;
      height: 28px;
      background: var(--c-white);
      border: 1px solid var(--c-grey);
      border-radius: 50%;
      color: var(--c-grey);
      font-size: 0.8rem;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0 10px 0 0;
      outline: none;
      vertical-align: middle;
    }

    .title {
      display: inline-block;
      font-size: 1.1rem;
      vertical-align: middle;
    }
  }

  app-theme-manager {
    display: block;
    padding: 0 10px;
  }
}
