<div class="app-sidebar-title">
  <button (click)="onButtonClick()" class="sidenav-btn">
    <fa-icon [icon]="['fas', 'times']"></fa-icon>
  </button>

  <span class="title">Sidebar</span>
</div>

<app-navigation (linkClick)="onLinkClick()"></app-navigation>

<app-theme-manager [mobileVersion]="true" (themeSelect)="onThemeSelect()"></app-theme-manager>
