<p class="message">
  <span *ngIf="isSaved">Your order is saved and will be prepared within 24h.</span>
  <span *ngIf="!isSaved">Sorry, but we can't save your order. Please contact with someone from our staff.</span>
</p>

<a [routerLink]="['/']" class="button">Go to home page</a>
